@import "tailwindcss";
@import "flowbite/src/themes/default";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Prata&display=swap');
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";
.container {
  @apply w-[95%] sm:w-[90%] lg:w-[85%] max-w-[1200px] mx-auto px-3 sm:px-4 box-border;
}

:root{
  --primary-bg: #F3F2EC;
  --second-bg: #EDEBE4;
  --bg-book: #EFEEE8;
  --border-book: #EDECE6;
  --primary-text:#222222;
  --second-text:#7A7A7A;
  --third-text:#888888;
  --price:#00bcd4;
  --hover:#00bcd4;
  --dots:#b49b7d;
  --cart:#b49b7d;
  --dot2:#2e2a27;
    --gradient:  linear-gradient(
    135deg,
    #8c735d 0%,
    #b49b7d 35%,
    #d1bfa5 70%,
    #e6d4bc 100%
  );
}

.dark{
  --primary-bg: #111827;
  --second-bg: #1d4ed8;
  --bg-book: #1f2937;
  --border-book: #1f2937;
  --primary-text:#FFFFFF;
  --second-text:#FFFFFF;
  --third-text:#9DA4D1;
  --price:#00bcd4;
  --hover:#00bcd4;
  --dots:#fff;
  --dot2:#fff;
    --gradient: linear-gradient(135deg, #1d4ed8 0%, #b49b7d 100%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Prata", serif;
  background-color: var(--primary-bg);
  line-height: 1.6;
  height: 1000px;
}

.second-font{
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}
